In [2]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
from tqdm.notebook import tqdm
import pandas as pd
import numpy as np

In [9]:
date_list = pd.date_range('2020-11-19', periods=50, freq='D')

movie_title = []
movie_point = []
movie_date = []

for today in tqdm(date_list):
    url = "https://movie.naver.com/movie/sdb/rank/rmovie.nhn?sel=pnt&date" + \
        (today.strftime('%Y%m%d'))
    html = urlopen(url)
    
    soup = BeautifulSoup(html.read(), "html.parser")
    
    titles = soup.find_all('div', {'class':'tit5'})
    points = soup.find_all('td', {'class':'point'})
    
    titles_text = []
    points_text = []
    date = []
    
    for t, p in zip(titles, points):
        titles_text.append(t.text.strip('\n'))
        points_text.append(float(p.text))
        date.append(today)
    
    movie_title += titles_text
    movie_point += points_text
    movie_date += date

  0%|          | 0/50 [00:00<?, ?it/s]

In [10]:
frame = pd.DataFrame({'date':movie_date, 'title': movie_title, 'point': movie_point})
frame

           date          title  point
0    2020-11-19        탑건: 매버릭   9.77
1    2020-11-19  인생은 뷰티풀: 비타돌체   9.74
2    2020-11-19           클라우스   9.68
3    2020-11-19       할머니의 먼 집   9.62
4    2020-11-19           그린 북   9.60
...         ...            ...    ...
2495 2021-01-07           씽2게더   9.39
2496 2021-01-07  반지의 제왕: 왕의 귀환   9.38
2497 2021-01-07         히든 피겨스   9.38
2498 2021-01-07      죽은 시인의 사회   9.38
2499 2021-01-07     어벤져스: 엔드게임   9.38

[2500 rows x 3 columns]

In [15]:
pd.options.display.float_format = '{:.2f}'.format

movie_point = pd.pivot_table(
    frame, 
    values=['point'], 
    index=['title'], 
    aggfunc=np.mean
)

movie_point.sort_values(by='point', ascending=False).head(1)

         point
title
탑건: 매버릭   9.77

## 1. 기간 설정 이유

여자친구와 사귄 이후, 50일 동안 평균 평점이 가장 높은 영화를 알아보고 싶었다.

## 2. 자신의 생각

10위까지 본 영화가 하나도 없는 것을 보고 놀랐다.